ml OpenCV/4.5.5-foss-2021b-CUDA-11.4.1-contrib
ml TensorFlow/2.7.1-foss-2021b
ml scikit-learn/1.0.1-foss-2021b
ml Pillow/8.3.1-GCCcore-11.2.0
ml matplotlib/3.4.3-foss-2021b
ml torchvision/0.13.0-foss-2021b-CUDA-11.4.1
